@tailwind base;
@tailwind components;
@tailwind utilities;

*, body, html {
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

#smooth-wrapper {
  overflow: hidden;
  position: fixed;
  inset: 0;
}

#smooth-content {
  overflow: visible;
  width: 100%;
}
